.equipment_row p {
	font-size: 14px;
	margin-bottom: 0px;
}

.flex-control-panel {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.flex-control-panel-title {
	flex-grow: 1;
}

.accounting p {
	font-size: 16px;
	text-align: left;
}