{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<link href="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js"></script>
<div class="main-container">
    {%csrf_token%}

    <div class="card-body">
        <h1>Ласкаво просимо до Romantik Rent!</h1>
        <p>Ми надаємо спорядження для всіх видів спортивного туризму. </p>
        <div class="row">
            <div class="col">
                <p class="right">Наша команда щодня проводить ремонт та обслуговування спорядження, і ми гарантуємо якість та надійність кожної його одиниці.
                </p>
                <p class="right">
                    Ви можете вибрати все: від похідного посуду до льодорубів та катамаранів. Ви можете повністю укомплектувати групу та підготуватися до сходження на найскладніші вершини за допомогою нашої компанії. Інструктори допоможуть підібрати та налаштувати спорядження особисто під вас.
                </p>
            </div>
            <div class="col">
                <img src="{% static 'images/home/equipment.bmp' %}" alt="">
            </div>
        </div>
        <p>Ви можете замовити все, що вам необхідно на сайті або зателефонувавши за номером +3 14 15-92-65, і до моменту прибуття спорядження буде підготовлено.
        </p>

        <div class="row">
            <div class="col">
                <div id="map"></div>
                <script src="{% static 'js/home.js' %}"></script>

            </div>
            <div class="col">
                <p class="left">Наш штаб знаходиться на вулиці Дефолт Неймовська буд.2. Ми відкриті з 9:00 до 19:00 третього числа кожного місяця Синього місяця за альтмерським календарем, коли над морем сходить сузір'я лева. Але зробити замовлення ви можете будь-коли!

                    
                </p>
                <p class="left">
                    Для цього просто натисніть кнопку нижче:
                </p>
                <a href="/new_rent_accounting">
                    <button class="btn btn-danger big-red-fucking-button">Замовити спорядження!</button>
                </a>

            </div>

        </div>

    </div>
</div>





{% endblock %}